# fitness or climbing
RESERVE_TYPE=fitness
# will string match the reservation time name
RESERVE_SLOT=2 PM to
# lowercase day name separated by commas
RESERVE_DAYS=monday,tuesday,thursday,friday,saturday

FIRST_NAME=John
MIDDLE_NAME=Appleseed
LAST_NAME=Doe

# number only, no leading zeroes
BIRTH_DAY=14
BIRTH_MONTH=2
BIRTH_YEAR=1990

EMAIL=johnappleseedoe@gmail.com
PHONE=5125553333
